* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;
    background: #292C6D;
    display: flex;
    justify-content: center;
    align-items: center;
}


span {
    height: 0.625rem;
    width: 0.625rem;
    background: white;
    position: absolute;
    border-radius: 50%;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(2.188rem);
    animation: animate 1.5s linear infinite;
    opacity: 0;
    animation-delay: calc(var(--i) * .1s);
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}